body {
	font-family: sans-serif;
	color: gray;
	color: purple;
}

header {
	background: pink;
	text-align: center;
	color: green;
	background-size: cover;
	background: url(images/background.jpg);
	background-position: fixed;
}

header img {
	border: 3px solid #fff;
	border-radius: 50%;
	padding: 10px;
}

a {
	color: #38A88F;
}

h1 {
	color: #ffffff;
	font-size: 48px;
}

img {
	 border: 2px solid blue;
}

#about {
	 background: #FFCA59;
	 background: red;
	 background: green;
}


ul.websites {
 	padding: 0;
}

ul.websites li {
	list-style: none;
	display: inline-block;
}

.links h2 {
	 font-family: sans-serif;
	 color: #FF572B;
}

.padded {
 	padding: 50px 100px;
}


.contact {
	 text-align: center;
	 color: #fff;
	 background: url(images/dark_embroidery.png);
	 /* background-repeat: none;
	 background-repeat: repeat-x;
	 background-position: bottom center;*/
}

.contact h2 {
 	color: #fff;
}

.contact a img {
	 width: 100px;
	 margin: 10px;
	 border-radius: 50%;
	 border: none;
}


.contact img:hover {
 opacity: .5;
}

.websites a {
 background: #38A88F;
 padding: 10px 20px;
 color: #fff;
 text-decoration: none;
 border-radius: 5px;
 font-size: 24px;
 display: block;
 margin-right: 10px;
}

.websites a:hover {
background: #666;
}
